.register-scheme-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    height: 70vh;
    
    
  }
  .register-scheme-left-element{
  flex:2;
    height:90vh;
    /* margin-left: 1rem; */
    padding-left:2rem;
    margin-bottom: 1rem;
    flex: 1;
  }
  
  .register-scheme-right-element{
    flex:3;
    height: 80vh;
    padding-left: 0rem;
    flex: 1;
    padding-right: 1rem;
  }
  
  
.register-scheme-box{
    height:92vh;
    width: 71vh;
    border: 1px solid #000; /* Border style, width, and color */
    border-radius: 5%;
    padding: 10px; /* Add some padding to the content inside the box */
    margin-top: 5%; 
    /* padding-right: 1rem; */
    margin-left: 10%;
    /* margin-right: 20%; */
  }
  
  .register-scheme-heading{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold; /* Make heading bold */
    }
    
    .register-scheme-postdata {
      max-width: 400px;
      margin: 0 auto;
    }
    .register-scheme-form-group {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold; 
     
    }

    .register-scheme-form-control{
        border-radius: 5px;
        padding-bottom: .5rem;
        border: .5px solid #000;
         width:15rem
    }
    
    
    .register-scheme-button-group{
        margin-top: 1rem;
    }
    
    .register-scheme-button{
        margin-left: 5rem;
      width: 50%;
      height:5%
  
    }
   
  
  
  .register-scheme-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  
  }
  
  .wrap{
    font-size: medium;
    width: 50%;
  }
  .sign-button{
    width: 50%;
  }
  