.section {
    max-height: 2000px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6rem;
    
}
.section-header .text-title {
    margin-bottom: 10px;
    font-size: 50px;
    
    color: #223464;
}

.section-header h2 .text-title{
    font-weight: 4;
}
.section-header .text-description {
    font-size: 18px;
    
    font-size: 1rem;
    line-height: 1.94;
    color: #223464;
    margin-bottom: 24px;
    font-weight: 100 !important;
}
.part1-container{

    height :520px;
    max-width:1260px ;
    /* width: 100%; */
    /* padding-right: 15px; */
    padding-left: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 4rem;
    /* display: flex; */
    

}

.part1-container>.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height:500px;
    max-width: 1260px;
  

}
.part-left{
    flex: 1;
    margin-top:6rem ;
    width: 160px;
}
.part-right{
    flex: 3;
    max-height: 550px;
    max-width: 900px;
}

.part1-image{
    height: 610px;
    width:900px;
    margin-right: .5rem;
}


.section-2{
    margin-top: 1rem;
    height: 550px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}
.part1-container{

    height :520px;
    max-width:700pxpx ;
    /* width: 100%; */
    /* padding-right: 15px; */
    padding-left: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 4rem;
    /* display: flex; */
    

}

.part2-container>.row-2{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    height:500px;
    max-width: 1260px;
  

}

.part-left-2{
    flex: 2;
    max-height: 550px;
    max-width: 900px;
}
.part2-image{
    margin-top: 1rem;
    height: 550px;
    width:600px;
    margin-right: .5rem;
}

.part-right-2{
    flex: 2;
    margin-top:3rem ;

    
}

.insurance-overview__content{
    padding-top: 10rem;
    padding-right: 3rem;
    font-weight: 100;
    }


.insurance-overview__content p.text-description-2{
    color: #323232;
    font-size: .92rem;
    font-weight: 300;
    line-height: 1.90;
}
.insurance-overview__content p{
    font-weight: 300;
}

.insurancePlanCards .insurancePlanCards__exploreMore {
   
    color: #6739b7;
    
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -50px;
    opacity: .9;
    text-align: center;
}

a{
    text-decoration: none;
    color: #6739b7;
    font-weight: 500;
}





.insurancePlanCards{
    background-color: #faf8fd;
    padding-bottom: 60px;
    padding-top: 60px;
    /* max-width:1200px; */
    /* min-width: max-content;
    width: 100%; */
    
}
.insurancePlanCards .content{
    height: 100%;

    margin-left: 1rem;
    margin-right: 2rem;
    /* width: 1260px; */

}

.insurance-tc {
    margin-top: 40px;
    text-align: center;
}

.insurancePlanCards .insurance-tc h2 {
    margin-top: 40px;
}
.insurance-tc h2.insurance-tc__subtitle {
    color: #52d0e1;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.86;
    margin-bottom: 12px;
    text-transform: uppercase;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.insurance-tc h3 {
    color: #361968;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.48px;
    line-height: 1.41;
    margin: 12px auto 0;
    text-shadow: 0 2px 4px rgba(0,0,0,.05);
    width: 30%;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.insurance-tc p.insurance-tc__subtext {
    color: #323232;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.94;
    margin: 12px auto 60px;
    width: 45%;
}


.insurancePlanCards .insurancePlanCards__content__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* icon-7  */
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-7 {
    background-color: #fff8f1;
    padding-top: 100px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item {
    background-color: #fff4f7;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 20px;
    opacity: .9;
    padding: 59px 37px 29px 34px;
    text-decoration: none;
    width: 35%;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-7>img {
    margin-bottom: 38px;
    width: 152px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item>img {
    display: block;
    margin: 0 auto;
    width: 239px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item h4 {
    color: #361968;
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: -.36px;
    margin-bottom: 10px;
}

.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div {
    align-items: flex-end;
    display: flex;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div p {
    color: #515151;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: -.21px;
    line-height: 1.71;
    margin-right: 20px;
    margin-top: 10px;
    width: 85%;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div img {
    bottom: 16px;
    height: 19px;
    left: 25px;
    position: relative;
    width: 36px;
}





/* icon-8 */
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-8 {
    background-color: #eefbff;
    padding-top: 30px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item {
    background-color: #fff4f7;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 20px;
    opacity: .9;
    padding: 59px 37px 29px 34px;
    text-decoration: none;
    width: 35%;
}

.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-8>img {
    width: 200px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item>img {
    display: block;
    margin: 0 auto;
    width: 239px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item h4 {
    color: #361968;
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: -.36px;
    margin-bottom: 10px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div p {
    color: #515151;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: -.21px;
    line-height: 1.71;
    margin-right: 20px;
    margin-top: 10px;
    width: 85%;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div img {
    bottom: 16px;
    height: 19px;
    left: 25px;
    position: relative;
    width: 36px;
}


/* icon-9  */
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-9 {
    background-color: #eaebff;
    padding-top: px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item {
    background-color: #fff4f7;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 20px;
    opacity: .9;
    padding: 59px 37px 29px 34px;
    text-decoration: none;
    width: 35%;
    height: 420px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-9>img {
    margin-bottom: 20px;
    width: 200px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item>img {
    display: block;
    margin-left: 4rem;
    margin-right: 2rem;
    width: 239px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item h4 {
    color: #361968;
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: -.36px;
    margin-bottom: 10px;
}


.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div p {
    color: #515151;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: -.21px;
    line-height: 1.71;
    margin-right: 20px;
    margin-top: 10px;
    width: 85%;
}

.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item div img {
    bottom: 16px;
    height: 19px;
    left: 25px;
    position: relative;
    width: 36px;
}




/* icon-10 */

.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-10 {
    background-color: #ece2ed;
    padding-top: 70px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item {
    background-color: #fff4f7;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 20px;
    opacity: .9;
    padding: 59px 37px 29px 34px;
    text-decoration: none;
    width: 35%;
}

.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item.icon-10>img {
    /* margin-bottom: 100px; */
    width: 150px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item>img {
    display: block;
    margin: 2rem;
    margin-left: 6rem;
    width: 239px;
}
.insurancePlanCards .insurancePlanCards__content__container .insurancePlanCards__content__container__item h4 {
    color: #361968;
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: -.36px;
    margin-bottom: 10px;
}
