.register-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    height: 70vh;
    
    
  }
  .register-left-element{
  
    height:80vh;
    /* margin-left: 1rem; */
    padding-left:1rem;
    margin-bottom: 1rem;
    flex: 1;
  }
  
  .register-right-element{
  
    height: 70vh;
    padding-left: 0rem;
    flex: 2;
    padding-right: 10rem;
  }
  
  
.register-box{
    height:70vh;
    width: 55vh;
    border: 1px solid #000; /* Border style, width, and color */
    border-radius: 5%;
    padding: 10px; /* Add some padding to the content inside the box */
    /* margin-top: 5%; */
    padding-right: 2rem;
    margin-left: 20%;
    /* margin-right: 40%; */
  }
  
  .register-heading{
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .register-postdata {
      max-width: 400px;
      margin: 0 auto;
    }
    .register-form-group {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .register-form-control{
        border-radius: 5px;
        padding-bottom: .5rem;
        border: 1px solid #000;
    }
    .register-button-group{
        margin-top: .5rem;
    }
    
    .register-button{
      width: 100%;
      height:5%
  
    }
   
  
  
  .register-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  
  }
  
  .wrap{
    font-size: medium;
    width: 50%;
  }
  .sign-button{
    width: 50%;
  }
  
  
    /*  */