.table-header {
    background-color: #007bff; /* Use the desired shade of blue */
    color: white; /* Set text color to white or any contrasting color */
    font-size: 14px;
}
  
  .custom-table th {
    border: none; /* Remove border for th elements */
  }

  .scheme-button{
    background-color: rgb(34, 52, 100);
     color: white;
     border: none;
     height: 2rem;
     border-radius: 4px;
  }
  .scheme-button:hover{
    background-color:rgb(23, 58, 154);
    color: white;

  }