.l-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    height: 70vh;
    
    
  }
  .left-element{
  
    height:50vh;
    /* margin-left: 1rem; */
    padding-left:1.5rem;
    flex: 1;
    margin-top: 2rem;
  }
  
  .right-element{
  
    height: 70vh;
    padding-left: 0rem;
    flex: 2;
    padding-right: 8rem;
  }
  
  
.box{
    height:70vh;
    width: 55vh;
    border: 1px solid #000; /* Border style, width, and color */
    border-radius: 5%;
    padding: 20px; /* Add some padding to the content inside the box */
    /* margin-top: 5%; */
    padding-right: 2rem;
    margin-left: 35%;
    margin-right: 40%;
  }
  
  .heading{
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .postdata {
      max-width: 300px;
      margin: 0 auto;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .n-blur{
      position: absolute;
      width:27rem;
      left: 54%;
      background: #edd0ff;
      height: 30rem;
      border-radius: 10%;
      filter: blur(212px);
      z-index: -9;
      top: 18%;
      filter: blur(72px);
    
    }
  
    .n-button{
      width: 100%;
      height:10%
  
    }
    .ns-button{
        width: 50%;
        height:10%
    
      }
  
    .c-button{
      margin-top: 2rem;
    }
  
  .n-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  
  }
  
  .wrap{
    font-size: medium;
    margin-left: 2rem;
    padding-left:1rem;
    padding-right: 0;
    width: 50%;
  }
  .sign-button{
    width: 50%;
  }
  .login-button{
    margin-right: 1rem;
    /* padding-left: 0; */
    padding-right: 1rem;
  }
  
  
    /*  */