
.policy-details-box{
    max-width: 1100px;
    margin: 20px auto;
    margin-left: 7%;
    margin-bottom: 2rem;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  .policy-details-tittle{
    color:white
  }
  .policy-container{
    display: flex;
    flex-direction: row;
    height: 4rem;
    align-items: center;
    
  }
  .policy-left{
    margin: 1rem;
    width:10rem
  }
  .policy-right{
    margin-left: 71%;
    margin-top: 2rem;
    

  }
  .plan-right{
    margin-left: 43%;
    align-items: center;
  }
  .go-back-button{
    background-color: rgb(34, 52, 100);
    border-radius: 4px;
    height: 2.3rem;
  }
  .go-back-button:hover{
    background-color: rgb(23, 58, 154);
    color: white;
  }