
.square-card {
    height: 100%;
    border-radius: 15px; 
    overflow: hidden;
  }
  .container{
    margin-top: 4rem;
  }

  .square-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card-link {
    text-decoration: none;
  }
  

  .square-card .card-body {
    background-color: #fff; 
    border-bottom-left-radius: 15px; 
    /* padding: 15px; */
  }
  