.employee-details-box{
    max-width: 1100px;
    margin: 20px auto;
    margin-left: 7%;
    margin-bottom: 2rem;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  .employee-details-tittle{
    color:white;
    text-align:center;
    margin-top:1.5rem;
    background:rgb(34, 52, 100)

  }
  .employee-left{
    margin: 1rem;
    width:10rem
  }
  .employee-right{
    margin-left: 43%;
    align-items: center;
  }